@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");



:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #004e96;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    /*position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;*/
    
    font-size: var(--normal-font-size);
    transition: .5s;
    font-family: "Roboto";
}
a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;


}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}




.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    /*padding: .5rem 1rem 0 0;*/
    transition: .5s;
    z-index: var(--z-fixed)
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}
.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: #004e96 /*var(--white-color)*/;
    background-color: white;
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}
@media screen and (min-width: 768px) {
    body {
        
        padding-left: calc(var(--nav-width))
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
        


    }

    .l-navbar {
        left: 0;
       
    }
     .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 40px;
    padding-bottom: 5px;
    /* border-bottom: 1px dotted #B3A9A9; */
    margin-top: 10px;
    width: 80%;
}


.chat li .chat-body p
{
    margin: 0;
    /* color: #777777; */
}


.chat-care
{
    overflow-y: scroll;
    height: 350px;
}

.chat-care .chat-body
{
    display: inline-block;
    max-width: 80%;
    background-color: #f6f6f7;
    border-radius: 12.5px;
    padding: 15px;
}
.chat-care .chat-body strong
{
  color: #0169DA;
}

.chat-care .admin
{
    text-align: right ;
    float: right;
}
.chat-care .admin p
{
    text-align: left ;
}
.chat-care .agent
{
    text-align: left ;
    float: left;
}
.chat-care .left
{
    float: left;
}
.chat-care .right
{
    float: right;
}

.clearfix {
  clear: both;
}







#container{
    position: sticky;
  position: -webkit-sticky;
  top: 0;
    position: fixed;
    padding: 0;
    width:75%;
    height:100%;
    background:#F0F0F0;
    font-size:0;
    border-radius:5px;
    float: left;
    margin-left: 0;
    margin-top: 0px;
}
aside{
    width:28%;
    height:100%;
    background-color:white;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
    font-family: "Roboto";

}
main{
    width:72%;
    height: 100%;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
   border-right: 1px solid #bbbbbb;


}
aside header{
    padding:10px 10px;
}


aside ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    height:690px;
}
aside li{
    padding:10px 0;
}
aside li:hover{
    background-color:whitesmoke;
}
h3,h4{
    margin:0;
}

aside li div{
    display:inline-block;
    vertical-align:top;
    margin-top:12px;
}
aside li h2{
    font-size:14px;
    color:#fff;
    font-weight:normal;
    margin-bottom:5px;
}
aside li h3{
    font-size:12px;
    color:#7e818a;
    font-weight:normal;
}

#name{
    font-size: 20px;
}
main header{
    height:45px;
    padding:10px 10px 10px 10px;
    background-color: white;
   border-style: groove;
   border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;

}
main header > *{
    display:inline-block;
    vertical-align:top;
}


main header div{
    margin-left:10px;
    margin-right:145px;
}
main header h3{
    font-size:16px;
    margin-bottom:5px;
}
main header h4{
    font-size:14px;
    font-weight:normal;
    color:#7e818a;
}

#chat{
    padding-left:0;
    margin:0;
    list-style-type:none;
    
    padding-bottom: 20%;
    
    
}
#chat li{
    padding:10px 30px;
}
#chat h3,#chat h4{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
}
#chat h3{
    color:#bbb;
}
#chat .entete{
    margin-bottom:5px;

}
#chat .message{
    padding:10px;
    color:#000;
    line-height:15px;
    max-width:90%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
}
#chat .me{
    text-align:right;
}
#chat .you .message{
    background-color:white;
    border: 1px solid #bbbbbb;
}
#chat .me .message{
    background-color: #bbbbbb;
}

 main input{
    width: 50%;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #004e96;
    position: fixed;
    bottom: 0;
}
fieldset {
    width: 125px;
}
.item {
    display: block;
    width: 80%;
    margin: 20px;
}
.item p{
    font-size: 12px;
}
label {
    display: inline;
}
input[type=checkbox] {
    display: inline;
}
header{
    height: 45px;
    margin: 0;
 border: 1px solid #bbbbbb;
 font-family: "Roboto";

}
main img{
    border-radius: 50%;
    height: 50px;
    float: left;
} 

.user{
    float: right;
    width: 21%;
    background-color:#eff3f7;
    position: fixed;
    right: 0;
    text-align: center;
    padding-bottom: 20px;
}
#name{
    font-size: 20px;
    font-weight: bold;
}
#profile{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 300px;
    background-color: white;
    height: 50%;
    margin-bottom: 80px;

}
#profile p{
    color: #bbbbbb;
}
#details{
    text-align: left;
    border-radius: 10px;
    margin: 85px 10px ;
    height: 60%;
    background-color: white;
    padding: 15px;
    font-size: 14px;
    border-style: groove;
    
}
button{
    border: 1px solid #bbbbbb;
    background-color: white;
    font-family: "Roboto";
    font-size: 8px;
    height: 30px;
    width: 90px;
    border-radius: 5px;
}
img{
    border-radius:100%;
    height: 90px;
}


